.welcome {
    height: 410px;
    background-image: url("https://cdn.discordapp.com/attachments/715694129262231642/819615739605418044/Livy2.png");
    padding-top: 150px;
    background-size: 100%;
}
h1 {
    color: white;
    text-align:center;
    font-size: 150px;
    margin-top: -100px;
}
body{
    background-color: black;
}

.whiteborder {
    border-bottom: solid white;
    width: 100%;
    position: absolute;
    bottom:  328px;
}

.navbar {
    text-decoration:none;
    font-size: 36px;
    color: rgb(255, 255, 255);
    border-left: 2px solid;
    margin: 70px;
    padding-left: 10px;
    text-align: bottom;
} 

.navbar:hover {
    color:rgb(1, 24, 59);
}

h2 {
    color: white;
    padding: 70px;
    text-align: center;
    font-size: 40px;
}

.bordertitle {
    border: white solid;
    padding: 20px;
    margin: 100px;
    margin-top: 500px;
}

.text {
    color: white;
    padding-left: 110px;
    font-size: 25px;
} 